verbose=1
sr=16000
pre-emphasis=0.97
fdplpwin=5
truncate-last=1
gn=1
limit-range=1
limit-lower=125
limit-upper=3800
axis=bark
#pole-factor=150
skip-bands=0
padding=0
feat=1
specgram=0
nceps=13
shortterm-mode=3
modulation-mode=2
#plp2-order=12
plp2-liftering=0
#downsampling-factor=20
#downsampling-sr=400
cepslifter=0
use-energy=0
normalize-energy=0
scale-energy=1.0
silence-floor=50.0
apply-wiener=0
wiener-alpha=0.1
speechchar=1
nonspeechchar=0
vad-grace=2
max-threads=-1
